*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.5px;
}
a{
    color: black;
    text-decoration: none;
}

.space_2{
    padding-bottom: 2%;
}
.space_4{
    padding-bottom: 4%;
}
.space_6{
    padding-bottom: 6%;
}
.space_8{
    padding-bottom: 8%;
}
.space_10{
    padding-bottom: 10%;
}

body div.img20{
    width: 20%;
}
body div.img25{
    width: 25%;
}
body div.img30{
    width: 30%;
}
body div.img35{
    width: 35%;
}
body div.img40{
    width: 40%;
}
body div.img45{
    width: 45%;
}
body div.img50{
    width: 50%;
}
body div.img55{
    width: 55%;
}
body div.img60{
    width: 60%;
}
body div.img65{
    width: 65%;
}
body div.img70{
    width: 70%;
}
body div.marginR5{
    margin-right: 5%;
}

body div.inner_img img{
    width: 100%;
}
body.inner p strong,
#savingBOBInner p strong{
    font-weight: 400;
    color: #00788E;
}

.text_center{
    text-align: center;
}
.row{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

html,body{
    background-color: rgb(216, 224, 233);
    -ms-overflow-x: hidden;
    overflow-x: hidden;
}

/* common */
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
header ul{
    margin: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
header li{
    position: relative;
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

header li::before{
    position: absolute;
    display: block;
    content: "";
    width: 0%;
    height: 1px;
    background-color: black;
    top: 28px;
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    -o-transition: width 0.2s ease;
    transition: width 0.2s ease;
}
header li:hover::before{
    width: calc(100% - 20px);
}
body.openAbout header li{
    color:  rgb(216, 224, 233);
}
body.openAbout header li::before{
    background-color: rgb(216, 224, 233);
}
body.openAbout #about{
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}

article{
    display: block;
    width: 100%;
}
.wrap{
    position: relative;
    display: block;
    width: 60%;
    margin: auto;
    padding: 8% 0%;
    font-size: 0;
}

#works .wrap > div{
    position: relative;
    display: inline-block;
    width: 47.9%;
    padding-bottom: 33.3%;
    margin: 0 3.9% 7% 0 ;
    background-color: #fff;
    font-size: 1.3vw;
    background-size: cover;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease ;
    -moz-transition: all 0.3s ease ;
    -o-transition: all 0.3s ease ;
    transition: all 0.3s ease ;
}

#works .wrap > div:hover{
    box-shadow: 0px 5px 25px rgba(27, 96, 176, 0.2);
    -webkit-transform: translateY(-0.5%);
    -moz-transform: translateY(-0.5%);
    -ms-transform: translateY(-0.5%);
    -o-transform: translateY(-0.5%);
    transform: translateY(-0.5%);
}

#works .wrap > div:first-child{
    width: 100%;
    padding-bottom: 66.6%;
}

#works .wrap > div:nth-child(2n+1),

#works .wrap > div:first-child{
    margin-right: 0%;
}

#works .wrap > div > a{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#works .wrap > div > p{
    position: absolute;
    bottom: -5%;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#works .wrap > div:hover p{
    bottom: -6.2%;
    opacity: 1;
}
#works .wrap > div:not(#savingBOB) p{
    bottom: -11%;
}
/* common end */
/* works */
#works{
    width: 100%;
}
#works #savingBOB{
    background-image: url(../img/scene-beginning_900x600.gif);
}
#works #motionGrapic{
    background-image: url(../worksImg/motionGrapic.png);
}
#works #illustration{
    background-image: url(../worksImg/ROOM.png);
}
#works #ip{
    background-image: url(../worksImg/IPCharacter.png);
}
#works #WebDesign{
    background-image: url(../worksImg/BENNS.png);
}
#ipCharacterInner .ip_textUp,
#ipCharacterInner .ip_textBelow{
    position: absolute;
    display: block;
}
#ipCharacterInner .ip_textUp{
    width: 40%;
    top: 14%;
    right: 5%;
}
#ipCharacterInner .ip_textBelow{
    width: 40%;
    top: 34%;
    right: 50%;
}
#ipCharacterInner .ip_p{
    font-size: 1.6vw;
    padding-bottom: 4%;
    color: #00788E;
}
#ipCharacterInner .ip_span{
    display: block;
    font-size: 1.3vw;
}
/* works end */
/* about */
#about{
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgb(37, 38, 39);
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateX(100%);
}
#about section{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 55%;
    margin: auto;
}
#about #name{
    color: rgb(216, 224, 233);
    padding-bottom: 5%;
    font-size: 6vw;
    line-height: 1.5;
}
#about #info{
    color: rgb(216, 224, 233);
    line-height: 1.5;
    font-size: 1.5vw;
}
/* about end */



/* inner */
body.inner header a{
    position: relative;
    padding-left: 13px;
}
body.inner header a::before{
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 7px solid black;
    border-left: 0px solid transparent;
    top: 5px;
    left: 0;
}
body.inner .warp{
    font-size: 0;
}
body.inner h1{
    font-size: 2vw;
    font-weight: 400;
    margin-bottom: 8%;
}
body.inner div.inner_video{
    position: relative;
    display: inline-block;
    width: 49%;
    padding-bottom: 49%;
    margin-bottom: 1.9%;
}
body.inner div.inner_video:nth-child(2n){
    margin-right: 1.9%;
}
body.inner video{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
body.inner p{
    font-size: 1.6vw;
    color: black;
}

body.inner .inner_img{
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 1.9%;
}
body.inner .inner_img img{
    width: 100%;
}
/* inner end */

footer{
    font-size: 1vw;
    color:rgb(96, 96, 96);
    margin-bottom: 1.2%;
}
